body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    }
    #container{
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto ;
        

    }
    #sidebare{
        display: flex;
        flex-direction: column;
        width: 25%;
        height: 100%;
        margin-right:10px;
        
    }
    #content{
        display: flex;
        flex-direction: column;
        width: 75%;
        height: 100%;
          
    }
    .ContactInfo{
        padding-top:10%;
        background-color:#D3D3D3;
        text-align: center;
        margin-bottom: 5px;
        padding-bottom: 10px;
    }
    .profileImage{
        border-radius: 100%;

    }
    .language{
        background-color: #D3D3D3;
        text-align: left;
    }
    ul li{
        display: flex;
    }
    ul li span{
        width: 40%;
    }
    ul li span.rating{
        display: flex;
        justify-content: space-around; 
    }
    .dot{
        width: 15px;
        height: 15px;
        background-color:white;
        border-radius: 100%;
        display: inline-block;
    }
    .dot.active{
        background-color: darkblue;
    }
    .interests{
        padding-top: 20px;
        background-color: #D3D3D3;
        height: auto;
        padding-bottom: 100%;
    }
    .skills{
        background-color: #D3D3D3;  
    }
    #content .resume{
        padding-top: 15px;
        background-color: #D3D3D3;
    }
    #content .experince{
        display: flex;
        color: steelblue; 
        font-weight: bold;
        justify-content: space-between;
    }
    #content .training{
        display: flex;
        justify-content: space-between;
    }
    ul .decorationOfList{
        list-style-type:circle;
    }
    #content .resume h2{
        font-size: 2rem;
        letter-spacing: 1px;
        text-align: center;
        color: steelblue;
        margin: 10px 0 15px;
    }
    #content .resume p{
        text-align: justify;
        padding: 5px;
        margin-bottom: 10px;
    }
    h3,h4{
        color: steelblue;  
        text-decoration: underline;
    }
    .profileImage img{
        width: 150px;
        height: 150px;
        border-radius: 100%;

    }