body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
}
i{
    color:#FDD835;
}
#container{
    display: flex;
    font-family: sans-serif;
    /* max-width: 1200px;
    min-width: 360px; */
    width: 100%;
    margin: 0 auto;
}
#container #sidebar{
    display: flex;
    flex-direction: column;
    background-color: #FDD835;
    width: 30%;
    margin: 0 auto;
}

#container #content{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color:#FAFAFA;
    margin: 0 auto;
    padding: 5%;
}
#sidebar .profileImage{
    align-items: center;
}

#sidebar .profileImage img{
    border:4px solid rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    width: 218px;
    height: auto;
    display: block;
    /* box-shadow: 0px 0px 10px; */
    margin: auto;
    margin-top: 67px;
}

#sidebar .contactInfo{
    margin-top: 46px;
}
.contactInfo li{
    margin: 1em 0;
}

#sidebar h1{
    text-transform: uppercase;
    background-color: #424242;
    color: #FDD835;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

#sidebar p{
    text-align: justify;
    width: 80%;
    margin: auto;
}
#sidebar .interests{
    align-items: flex;
    align-content: space-around;
}
#content .lastName{
    text-transform: uppercase;
    color: black;
    font-size: xx-large;
}
#content .firstName{
    text-transform: uppercase;
    color: #FDD835;
    font-size: xx-large;
}

#content .job{
    text-transform: capitalize;
    color: #424242;
    font-size: large;
}

#content .job .jobFirstPart{
    border-bottom: 3px solid #FDD835;
}
#interests i{
    color:#424242;
    font-size:48px;
    padding: 10px;
    border: 3px solid #424242;
    border-radius: 100%;
}

#content h1{
    color: black;
    text-transform: uppercase;
    border-bottom: 3px solid #FDD835;
    margin-bottom: 50px;

}

#content #recommendation{
    display: flex;
    flex-direction: row;
}

.contactName{
    text-transform: uppercase;
}

.firstContact{
    width: 50%;
}

.secondContact{
    width: 50%;
}

.i {
    color : #FDD835;
}

#container ul{
    list-style: none;
}

#content .educationAndexperince{
    display: flex;
    flex-direction: column;
}
.educationAndexperinceItem .descriptionPart{
    width: 70%;
    text-align: justify;
}

.educationAndexperince .educationAndexperinceItem{
    display: flex;
    margin-bottom: 50px;
}

.descriptionPart .companyName{
    text-transform: uppercase;
}

.educationAndexperinceItem .durationPart{
    width: 25%;
    padding-left: 3%;
}
.descriptionPart .jobTitle{
    text-transform: capitalize;
}
#sidebar .interestsSection{
    margin-bottom: 50px;
    text-align:  center;
}
.nameAndCareerSection{
    margin-bottom: 100px;
    margin-top: 50px;
}
.about{
    flex: 2;
}
@media screen and ( max-width : 768px){
    #container{
        flex-direction: column;
        width: 100%;
        /* margin: 0 auto; */
    }
    #container #sidebar{
        width: 100%;
    }
    
    #container #content{
        width: 100%;
    }
}
@media screen and ( min-width : 769px) and ( max-width : 991px){
    
    .educationAndexperinceItem .descriptionPart{
        overflow: visible;
        width: 100%;    
    }
    .educationAndexperince .educationAndexperinceItem{
        flex-wrap: wrap;
    }

}